body{
    background-color:#F9F4ED;
    box-sizing: border-box;
}
ul>li{
list-style: none;
}
img{
   display:block;
   margin-left: auto;
   margin-right: auto;
   
}

.sam{
    margin-left: 25%;
    margin-right:68%;
    margin-top: 50px;
    padding:0px;
    border: 5px solid black;
    border-radius: 10px; 
    text-align:center;
    font-family:"Caveat";
}
.sam>h1{
    display: inline;
}

.block{
display:flex;
text-align: center;
justify-content: center;
background-color:#c66;
color: white;
padding: 10px;
margin-left: 22%;
margin-right: 28%;
border-radius: 5px;
text-transform: uppercase;
font-family:"Dosis";
font-size: 1.0vw;
letter-spacing: 1px;
}
h1.name{
    display: flex;
    text-align: center;
    justify-content: center;
  font-family: "Dosis";
  font-size: 2.5vw;
  letter-spacing: 2px; 
  text-transform: uppercase;
}
ul>li>h3>a{
    box-sizing: border-box;
    margin-left: 20%;
    text-decoration:none;
    color: black;
    font-family:"Dosis";
    text-transform: uppercase;
    letter-spacing: 2px;

}
hr{
    margin-top:5px;
    margin-bottom:30px;
    margin-left: 22%;
    margin-right: 28%; 
    padding-top: 10px;
    background-color: #c66;
    border-color: #c66;
    border-radius: 5px;
}

ul>li>p{
    box-sizing: border-box;
    margin-left:17%;
    margin-right: 22%;
    padding-left:3%;
    padding-bottom:10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-top:0px;
    font-family: "Bitter";
    color: rgba(0,0,0,0.25);
}

div>p{
margin-left:39%;
margin-right:40%;
}

div>section>h2{
    color:grey;
    text-transform:uppercase;
    font-family:"Dosis";
    font-size:medium;
    letter-spacing: 1px;
    box-sizing: border-box;
    margin-left:19%;
    margin-right:22%;
    padding-left:3%;
    padding-bottom:10px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.navigation>ul{
display: flex;
text-align: center;
justify-content: center;
}
nav>ul>li{
    list-style: none;
    margin-left:18%;
    padding:5px 0;
    padding-left: 6%;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
    margin-right:22%;
}
ul>li>a{
    text-decoration:none;
    font-family: 'Dosis';
    font-size: medium;
    color:black;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-sizing: border-box;
}
footer>p{
    box-sizing: border-box;
    text-align: center;
    color:rgba(99,99,99);
}
footer>p>a{
    color:rgba(99,99,99);
    text-decoration: none;
}